<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>InfoArchive</title>

  <link rel="stylesheet" th:href="@{/css/review.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/subscribe.css}">

</head>

  <body>
  <div th:replace="~{fragments/header :: header}"></div>
    <div class="page">

      <!-- 메인 -->
      <div class="main">
        <!-- 사이드바 -->
        <aside class="sidebar">
          <body>
            <div class="best">베스트 리뷰
                <div class="best-title"> 리뷰 제목</div>
                <div class="best-story"> 리뷰 내용</div>
                <img src="https://picsum.photos/id/100/300/200" class="review1"/>
            </div>
            <div class="myreview">리뷰 작성하기
              <div><input type="text" placeholder="리뷰 제목" name="review-name"></div>
              <div><textarea name="memo" cols="100" rows="5"></textarea></div>
              <input type="submit" value="작성하기">
            </div>
          </body>
        </aside>
      </div>
    </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
  <div th:replace="~{fragments/subscribe :: subscribe}"></div>

  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/subscribe.js}"></script>
  </body>
</html>
