<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세보기 - InfoArchive</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/detail.css}"> <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/subscribe.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="detail-container">
    <div class="detail-header">
        <span class="detail-category" th:text="${community.category}">카테고리</span>
        <h2 class="detail-title" th:text="${community.title}">게시글 제목</h2>
        <div class="detail-info">
<!--            작성자 변경-->
            <span class="info-author" th:text="${community.id}">작성자</span>
        </div>
    </div>

    <div class="detail-content">
        <div class="content-body" th:utext="${community.content}">내용</div>
    </div>

    <div class="detail-footer">
        <a th:href="@{/community}" class="list-btn">목록으로</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>