<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community - InfoArchive</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/subscribe.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>



<div class="form-container">
    <h2>- 글쓰기-</h2>
    <form name="community" method="post" th:action="@{/community/editProc}">

        <select name="category" class="category-select" required>
            <option value="" disabled selected>카테고리 선택</option>
            <option value="드로잉">드로잉</option>
            <option value="공예">공예</option>
            <option value="금융 · 재테크">금융 · 재테크</option>
            <option value="디자인">디자인</option>
            <option value="사진 · 영상">사진 · 영상</option>
            <option value="운동">운동</option>
            <option value="음악">음악</option>
            <option value="영상/3D">영상/3D</option>
            <option value="베이킹 · 요리">베이킹 · 요리</option>
            <option value="제2 외국어">제2 외국어</option>
            <option value="프로그래밍">프로그래밍</option>
        </select>

        <input type="text" name="title" class="input-title" placeholder="제목을 입력하세요" required>

        <textarea name="content" class="input-content" placeholder="내용을 입력하세요" required></textarea>

        <div class="button-group">
            <button type="button" class="back-btn" onclick="history.back()">이전</button>
            <button type="submit" class="submit-btn">확인</button>
        </div>
    </form>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/subscribe :: subscribe}"></div>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/subscribe.js}"></script>
<script th:src="@{/js/community.js}"></script>
</body>
</html>