<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>dashboard</title>
  <link rel="stylesheet" href="dashboard.css" />
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/subscribe.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
  <div class="page">

  <!-- 메인 -->
  <div class="main">
    <!-- 사이드바 -->
    <aside class="dashboard-sidebar">
      <div class="sidebar-card">
        <div class="sidebar-title">
          <span>▦</span>
          <strong>나의 강의장</strong>
        </div>

        <nav class="side-menu">
          <a th:href="@{/dashboard}" class="active">
            <span>▤</span>
            대시보드
          </a>

          <a th:href="@{/taking-course}">
            <span>▣</span>
            수강중인 강의
          </a>

          <a th:href="@{/wishlist}">
            <span>♡</span>
            찜한 강의
          </a>

          <a th:href="@{/orders}">
            <span>▥</span>
            주문 내역
          </a>

          <a th:href="@{/coupon}">
            <span>▨</span>
            쿠폰함
          </a>

          <a th:href="@{/mypage}">
            <span>♙</span>
            회원 정보
          </a>

          <a th:href="@{/review}">
            <span>★</span>
            리뷰관리
          </a>
        </nav>

        <div class="customer-box">
          <h3>고객센터</h3>
          <p>평일 10:00 ~ 18:00 [점심 13:00 ~ 14:00]</p>
          <strong>010-0000-0000</strong>
        </div>
      </div>
    </aside>

    <section class="content">
      <div class="banner">
        <h1>나의 강의장</h1><br>
        <p class="greeting">안녕하세요! 회원님의 학습여정을 응원합니다!</p>
        <div class="banner-btn">
          <a href="member-info.html" class="info-btn">회원 정보 관리 ></a>
        </div>
      </div>
      <div class="profile">
        <img src="https://jwiki.kr/wiki/images/6/6e/%EA%B8%B0%EB%B3%B8%ED%94%84%EC%82%AC.png" alt="프로필 이미지" class="profile-img" />
        <div class="introduction">
          <div class="name">회원님</div><br>
          <div class="email">이메일</div>
          <div class="last-login">최근접속일: 0000.00.00 00:00</div>
        </div>
        <div class="center-line"></div>
        <div class="class-count">
          <div>수강중인 강의: 0개</div><br>
          <div>수강 완료 강의: 0개</div><br>
          <div>찜한 강의: 0개</div><br>
        </div>
      </div>
      <div class="ongoing">
        <p class="ongoing-title">수강중인 강의</p>
        <div class="ongoing-btn">
          <a href="taking-course.html" class="taking-btn">전체 보기 ></a>
        </div>
        <div class="course-container">
          <div class="course-box">
            <img src="https://picsum.photos/150" alt="수강 중 강의 이미지" class="course-img" />
          </div>
          <div class="course-content">
            <div class="progress"></div>
            <h2 class="course-name">강의명</h2>
            <p class="instructor">강의자명</p><br>
            <p class="period">전체 00강 | 수강 기간: 0000.00.00 ~ 0000.00.00</p><br>
          </div>
        </div>
      </div>
      <div class="get">
        <div class="dibs-course">
          <div class="dibs-header">
            <div>찜한 강의</div>
            <div>
              <a href="call-dibs.html" class="dibs-btn">전체 보기 ></a>
            </div>
          </div>
          <div class="dibs-body">
            <img src="https://picsum.photos/100" alt="찜한 강의 이미지" class="dibs-img"/>
            <div class="dibs-data">
              <p class="dibs-title">찜한 강의 제목</p>
              <p class="dibs-instructor">강의자명</p>
              <p class="dibs-price">가격</p>
            </div>
          </div>
          <div class="dibs-body">
            <img src="https://picsum.photos/100" alt="찜한 강의 이미지" class="dibs-img"/>
            <div class="dibs-data">
              <p class="dibs-title">찜한 강의 제목</p>
              <p class="dibs-instructor">강의자명</p>
              <p class="dibs-price">가격</p>
            </div>
          </div>
          <div class="dibs-body">
            <img src="https://picsum.photos/100" alt="찜한 강의 이미지" class="dibs-img"/>
            <div class="dibs-data">
              <p class="dibs-title">찜한 강의 제목</p>
              <p class="dibs-instructor">강의자명</p>
              <p class="dibs-price">가격</p>
            </div>
          </div>
        </div>
        <div class="order-course">
          <div class="order-header">
            <div>최근 주문 내역</div>
            <div>
              <a href="order-details.html" class="dibs-btn">전체 보기></a>
            </div>
          </div>
          <div class="order-body">
            <img src="https://picsum.photos/120" alt="주문 강의 이미지" class="order-img"/>
            <div class="order-data">
              <p class="order-title">주문 강의 제목</p>
              <p class="order-instructor">주문일 0000.00.00</p>
              <p class="order-price">000,000원</p>
            </div>
            <div class="payment">결제완료</div>
          </div>
          <div class="order-body">
            <img src="https://picsum.photos/120" alt="주문 강의 이미지" class="order-img"/>
            <div class="order-data">
              <p class="order-title">주문 강의 제목</p>
              <p class="order-instructor">주문일 0000.00.00</p>
              <p class="order-price">000,000원</p>
            </div>
            <div class="payment">결제완료</div>
          </div>
          <div class="order-body">
            <img src="https://picsum.photos/120" alt="주문 강의 이미지" class="order-img"/>
            <div class="order-data">
              <p class="order-title">주문 강의 제목</p>
              <p class="order-instructor">주문일 0000.00.00</p>
              <p class="order-price">000,000원</p>
            </div>
            <div class="payment">결제완료</div>
          </div>
        </div>
      </div>
      <div class="etc">
        <div class="benefit">
          <div class="benefit-header">나의 혜택</div>
          <div class="benefit-body">
            <div class="point">보유포인트</div>
            <div class="coupon">보유 쿠폰</div>
            <div class="banner-btn">
              <a href="coupon.html" class="coupon-btn">쿠폰함 바로가기</a>
            </div>
          </div>
        </div>
        <div class="notify">
          <div class="notify-header">공지사항</div>
          <div class="notify-body">
            <div>[공지]</div>
            <div>[안내]</div>
            <div>[이벤트]</div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/subscribe :: subscribe}"></div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/subscribe.js}"></script>

</body>
</html>
