<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>dashboard</title>
  <link rel="stylesheet" href="dashboard.css" />
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/subscribe.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
  <div class="page">

  <!-- 메인 -->
  <div class="main">
    <!-- 사이드바 -->
    <aside class="sidebar">
      <div class="card-container">
        <div class="info-box1">나의 강의장</div>
        <div class="info-box2">
          <a href="dashboard.html" class="side2">대시보드</a>
        </div>
        <div class="info-box3">
          <a href="taking-course.html" class="side3">수강중인 강의</a>
        </div>
        <div class="info-box4">
          <a href="call-dibs.html" class="side4">찜한 강의</a>
        </div>
        <div class="info-box5">
          <a href="order-details.html" class="side5">주문내역</a>
        </div>
        <div class="info-box6">
          <a href="coupon.html" class="side6">쿠폰함</a>
        </div>
        <div class="info-box7">
          <a href="member-info.html" class="side7">회원 정보</a>
        </div>
        <div class="info-box8">
          <div class="ask">고객센터</div><br>
          <div class="time">평일: 10:00 ~ 18:00 [점심: 12:00 - 13:00]</div><br>
          <div class="phone">010-0000-0000</div><br>
        </div>
      </div>
    </aside>

    <section class="content">
      <div class="banner">
        <h1>나의 강의장</h1><br>
        <p class="greeting">안녕하세요! 회원님의 학습여정을 응원합니다!</p>
        <div class="banner-btn">
          <a href="member-info.html" class="info-btn">회원 정보 관리 ></a>
        </div>
      </div>
      <div class="profile">
        <img src="https://jwiki.kr/wiki/images/6/6e/%EA%B8%B0%EB%B3%B8%ED%94%84%EC%82%AC.png" alt="프로필 이미지" class="profile-img" />
        <div class="introduction">
          <div class="name">회원님</div><br>
          <div class="email">이메일</div>
          <div class="last-login">최근접속일: 0000.00.00 00:00</div>
        </div>
        <div class="center-line"></div>
        <div class="class-count">
          <div>수강중인 강의: 0개</div>
          <div>수강 완료 강의: 0개</div>
          <div>찜한 강의: 0개</div>
        </div>
        <div class="ongoing">
          <p class="ongoing-title">수강중인 강의</p>
          <div class="ongoing-btn">
            <a href="taking-course.html" class="taking-btn">전체 보기 ></a>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/subscribe :: subscribe}"></div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/subscribe.js}"></script>

</body>
</html>
