<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>taking-course</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/subscribe.css}">
    <link rel="stylesheet" th:href="@{/css/taking-course.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="page">

    <!-- 메인 -->
    <div class="main">
        <!-- 사이드바 -->
        <aside class="taking-course-sidebar">
            <div class="sidebar-card">
                <div class="sidebar-title">
                    <span>▦</span>
                    <strong>나의 강의장</strong>
                </div>

                <nav class="side-menu">
                    <a th:href="@{/dashboard}">
                        <span>▤</span>
                        대시보드
                    </a>

                    <a th:href="@{/taking-course}">
                        <span>▣</span>
                        수강중인 강의
                    </a>

                    <a th:href="@{/wishlist}">
                        <span>♡</span>
                        찜한 강의
                    </a>

                    <a th:href="@{/orders}">
                        <span>▥</span>
                        주문 내역
                    </a>

                    <a th:href="@{/coupon}">
                        <span>▨</span>
                        쿠폰함
                    </a>

                    <a th:href="@{/mypage}" class="active">
                        <span>♙</span>
                        회원 정보
                    </a>

                    <a th:href="@{/review}">
                        <span>★</span>
                        리뷰관리
                    </a>
                </nav>

                <div class="customer-box">
                    <h3>고객센터</h3>
                    <p>평일 10:00 ~ 18:00 [점심 13:00 ~ 14:00]</p>
                    <strong>010-0000-0000</strong>
                </div>
            </div>
        </aside>

        <section class="content">
            <div class="banner">
                <h1>수강중인 강의</h1>
                <p class="p1">현재 수강 중인 강의의 학습현황을 확인하고 이어서 학습할 수 있습니다.</p>
            </div>
            <div class="course-card">
                <div class="course-container">
                    <div class="course-box">
                        <div class="box-icon">카테고리</div>
                        <img src="https://picsum.photos/110" alt="수강 중 강의 이미지" class="course-img" />
                    </div>
                    <div class="course-content">
                        <h2 class="course-name">강의명</h2>
                        <p class="instructor">강의자명</p>
                        <p class="percent">00% 학습 중</p>
                        <div class="progress"></div>
                    </div>
                    <div class="course-move">
                        <div class="learn">
                            <a href="" class="learn-btn">이어서 학습하기</a>
                        </div>
                        <div class="admission">
                            <a href="" class="admission-btn">강의실 입장</a>
                        </div>
                    </div>
                </div>
                <div class="course-container">
                    <div class="course-box">
                        <div class="box-icon">카테고리</div>
                        <img src="https://picsum.photos/120" alt="수강 중 강의 이미지" class="course-img" />
                    </div>
                    <div class="course-content">
                        <h2 class="course-name">강의명</h2>
                        <p class="instructor">강의자명</p>
                        <p class="percent">00% 학습 중</p>
                        <div class="progress"></div>
                    </div>
                    <div class="course-move">
                        <div class="learn">
                            <a href="" class="learn-btn">이어서 학습하기</a>
                        </div>
                        <div class="admission">
                            <a href="" class="admission-btn">강의실 입장</a>
                        </div>
                    </div>
                </div>
                <div class="course-container">
                    <div class="course-box">
                        <div class="box-icon">카테고리</div>
                        <img src="https://picsum.photos/130" alt="수강 중 강의 이미지" class="course-img" />
                    </div>
                    <div class="course-content">
                        <h2 class="course-name">강의명</h2>
                        <p class="instructor">강의자명</p>
                        <p class="percent">00% 학습 중</p>
                        <div class="progress"></div>
                    </div>
                    <div class="course-move">
                        <div class="learn">
                            <a href="" class="learn-btn">이어서 학습하기</a>
                        </div>
                        <div class="admission">
                            <a href="" class="admission-btn">강의실 입장</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="pause">
                    <h2>학습이 잠시 멈췄나요?</h2>
                    <div class="guide">
                        <a href="" class="guide-btn">일시정지 가이드 보기 ></a>
                    </div>
                    <p class="explain">일시 정지 기능을 이용하면 학습기록이 그대로 유지됩니다.</p>
                </div>
            </div>
        </section>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/subscribe :: subscribe}"></div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/subscribe.js}"></script>
</body>
</html>