<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header" class="site-header">
  <div class="header-inner">
    <a th:href="@{/}" class="logo">
      <span class="logo-mark">
        <img th:src="@{/img/header/1.png}" width="70" alt="로고">
      </span>
    </a>

    <!-- 서치 -->
    <div class="header-search">

      <!-- 처음에 보이는 검색 버튼 -->
      <button type="button" class="search-open-btn" id="searchOpenBtn">
        <img th:src="@{/img/header/1093183.png}" alt="검색">
      </button>

      <!-- 클릭하면 열리는 검색창 -->
      <form th:action="@{/search}"
            method="get"
            id="searchBox"
            class="search-box">

        <button class="search-btn" type="submit">
          <img th:src="@{/img/header/1093183.png}" alt="검색">
        </button>

        <input type="text"
               name="kw"
               placeholder="어떤 강의를 찾으시나요?"
               th:value="${kw}"
               autocomplete="off">

        <button type="button" class="search-close-btn" id="searchCloseBtn">×</button>
      </form>

    </div>

    <div class="header-icons">

      <!-- 로그인 전 -->
      <div class="header-icons before-login" th:if="${session.loginUser == null}">
        <a th:href="@{/login}">
          <span><img th:src="@{/img/header/11.png}" width="40" alt=""></span>
          <p>로그인</p>
        </a>
      </div>


      <!-- 로그인 후 -->
      <div class="header-icons after-login" th:if="${session.loginUser != null}">

        <!-- 일반회원만 마이페이지 표시 -->
        <a th:if="${session.loginRole == 'ROLE_USER'}"
           th:href="@{/mypage}">
          <span><img th:src="@{/img/header/11.png}" width="40" alt=""></span>
          <p>마이페이지</p>
        </a>

        <!-- 강사만 강사센터 표시 -->
        <a th:if="${session.loginRole == 'ROLE_INSTRUCTOR'}"
           th:href="@{/instructor}">
          <span><img th:src="@{/img/instructor/instructor.png}" width="40" alt=""></span>
          <p>강사센터</p>
        </a>

        <!-- 관리자만 관리자센터 표시 -->
        <a th:if="${session.loginRole == 'ROLE_ADMIN'}"
           th:href="@{/admin}">
          <span><img th:src="@{/img/admin/admin.png}" width="40" alt=""></span>
          <p>관리자센터</p>
        </a>

        <!-- 일반회원만 찜한 강의 표시 -->
        <a th:if="${session.loginRole == 'ROLE_USER'}"
           th:href="@{/wishlist}">
          <span><img th:src="@{/img/header/12.png}" width="40" alt=""></span>
          <p>찜한 강의</p>
        </a>

        <!-- 일반회원만 장바구니 표시 -->
        <a th:if="${session.loginRole == 'ROLE_USER'}"
           th:href="@{/cart}">
          <span><img th:src="@{/img/header/13.png}" width="40" alt=""></span>
          <p>장바구니</p>
        </a>

        <!-- 로그인한 사람은 전부 로그아웃 표시 -->
        <a th:href="@{/logout}">
          <span><img th:src="@{/img/header/logout.png}" width="40" alt=""></span>
          <p>로그아웃</p>
        </a>

      </div>

    </div>
  </div>

  <nav class="gnb">
    <div class="gnb-inner">

      <div class="category-wrap">
        <div class="category-trigger">☰ 카테고리</div>

        <div class="mega-menu simple-category-menu">
          <div class="simple-category-inner">
            <a th:href="@{/category/drawing}">
              <img th:src="@{/img/H_inner/111.png}" alt="">
              <span>드로잉</span>
            </a>

            <a th:href="@{/category/craft}">
              <img th:src="@{/img/H_inner/1112.png}" alt="">
              <span>공예</span>
            </a>

            <a th:href="@{/category/finance}">
              <img th:src="@{/img/H_inner/1113.png}" alt="">
              <span>금융 · 재테크</span>
            </a>

            <a th:href="@{/category/design}">
              <img th:src="@{/img/H_inner/1114.png}" alt="">
              <span>디자인</span>
            </a>

            <a th:href="@{/category/photo-video}">
              <img th:src="@{/img/H_inner/1115.png}" alt="">
              <span>사진 · 영상</span>
            </a>

            <a th:href="@{/category/fitness}">
              <img th:src="@{/img/H_inner/1116.png}" alt="">
              <span>운동</span>
            </a>

            <a th:href="@{/category/music}">
              <img th:src="@{/img/H_inner/1117.png}" alt="">
              <span>음악</span>
            </a>

            <a th:href="@{/category/video-3d}">
              <img th:src="@{/img/H_inner/1118.png}" alt="">
              <span>영상/3D</span>
            </a>

            <a th:href="@{/category/cooking}">
              <img th:src="@{/img/H_inner/1119.png}" alt="">
              <span>베이킹 · 요리</span>
            </a>

            <a th:href="@{/category/language}">
              <img th:src="@{/img/H_inner/1120.png}" alt="">
              <span>제2 외국어</span>
            </a>

            <a th:href="@{/category/programming}">
              <img th:src="@{/img/H_inner/1121.png}" alt="">
              <span>프로그래밍</span>
            </a>
          </div>
        </div>
      </div>

      <a th:href="@{/top10}">TOP 10</a>
      <a th:href="@{/membership}">멤버십</a>
      <a th:href="@{/community}">커뮤니티</a>
      <a th:href="@{/faq}">FAQ</a>

    </div>
  </nav>
</header>

</body>
<script th:src="@{/js/header.js}"></script>

</html>