* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: rgb(236, 236, 236);
}

/* 전체 */
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* 메인 */
.main {
  display: flex;
  flex: 1;
}

/* 사이드바 */
.sidebar {
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-container {
  width: 250px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1.5px solid rgb(212, 212, 212);
}

.info-box1 {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);
  color: rgb(255, 255, 255);
}

.info-box2 {
  background-color: #eeeeee;
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .side2 {
    text-decoration: none;
    color: rgb(226, 20, 65);
  }
}

.info-box3 {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .side3 {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.info-box3:hover {
  background-color: #eeeeee;
}

.info-box4 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .side4 {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.info-box4:hover {
  background-color: #eeeeee;
}

.info-box5 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .side5 {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.info-box5:hover {
  background-color: #eeeeee;
}

.info-box6 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .side6 {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.info-box6:hover {
  background-color: #eeeeee;
}

.info-box7 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .side7 {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.info-box7:hover {
  background-color: #eeeeee;
}

.info-box8 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: bold;
  border: 1.5px solid rgb(212, 212, 212);

  .ask {
    color: rgb(0, 0, 0);
  }

  .time {
    color: rgb(126, 126, 126);
    font-size: 11px;
  }

  .phone {
    color: rgb(0, 0, 0);
    font-size: 25px;
  }
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  display: inline;
  padding: 20px;

}

.greeting {
  color: rgb(126, 126, 126);
}

.banner-btn {
  margin-top: -50px;
  text-align: right;

}

.info-btn {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;

}

.profile {
  display: flex;
  margin: 10px 20px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: large;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
  .name {
    font-size: 30px;
    font-weight: bold;
  }

  .email {
    font-size: 20px;
  }

  .last-login {
    font-size: 20px;
  }

.center-line {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  background-color: rgb(230, 230, 230);
  width: 5px;
  height: 120px;
}

.class-count {
  color: rgb(65, 65, 65);
  display: flex;
  gap: 20px;
  padding: 20px 100px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.ongoing {
  padding: 20px;
}

.ongoing-title {
  font-size: 30px;
  font-weight: bold;
  padding: 40px 0px;
}

.ongoing-btn {
  margin-top: -30px;
  text-align: right;

}

.taking-btn {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: large;

}

.course-container {
  border-radius: 10px;
  overflow: hidden;
}

.course-box {
  height: 250px;
}

.course-img {
  width: 400px;
  height: 250px;
}

.course-content {
  width: 400px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.progress {
  margin: 10px 0px;
  width: 350px;
  height: 7px;
  background-color: #d3d3d3;
  justify-content: center;
}

.course-name {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.instructor {
  font-size: 14px;
  font-weight: bold;
  color: #525252;
  margin-bottom: 16px;
}

.period {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
  line-height: 1.6;
}

.get {
  display: flex;
  justify-content: space-between;
}

.dibs-course {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 700px;
  border: 1.5px solid rgb(204, 204, 204);
}

.dibs-header{
  display: flex;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(204, 204, 204);
  padding: 20px;
  justify-content: space-between;
}

.dibs-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.dibs-body{
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(204, 204, 204);
  padding: 20px;
  align-items: center;
}

.dibs-img {
  width: 120px;
  height: 80px;
  border-radius: 5px;
}

.dibs-data {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.dibs-title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  padding: 5px 0px;
}

.dibs-instructor {
  font-size: 14px;
  font-weight: bold;
  color: #525252;
  padding: 5px 0px;
}

.dibs-price {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  padding: 5px 0px;
}

.order-course {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 700px;
  border: 1.5px solid rgb(204, 204, 204);
  margin-right: 20px;
}

.order-header{
  display: flex;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(204, 204, 204);
  padding: 20px;
  justify-content: space-between;
}

.order-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.order-body{
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(204, 204, 204);
  padding: 20px;
  align-items: center;
}

.order-img {
  width: 120px;
  height: 80px;
  border-radius: 5px;
}

.order-data {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.order-title {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  padding: 5px 0px;
}

.order-instructor {
  font-size: 14px;
  font-weight: bold;
  color: #7a7a7a;
  padding: 5px 0px;
}

.order-price {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding: 5px 0px;
}

.payment {
  color: rgb(0, 119, 255);
  font-weight: bolder;
  font-size: 20px;
  padding-left: 250px;
}

.etc {
  display: flex;
  justify-content: space-between;
}

.benefit {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 740px;
}

.benefit-header {
  display: flex;
  border: 1.5px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 25px;
  font-weight: bold;

}

.benefit-body {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.point {
  padding: 20px;
}

.coupon {
  padding: 20px;
  margin-bottom: 20px;
}

.coupon-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 30px;
  padding: 20px 40px;
}

.notify {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 740px;
}

.notify-header {
  display: flex;
  border: 1.5px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 25px;
  font-weight: bold;

}

.notify-body {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding: 20px;
}


