*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
      }

      .content {
        flex: 1;
        padding: 20px;
        background-color: #f5f6fa;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .best {
        font-size: 32px;
        border: 2px solid gray;
        border-radius: 15px;
        width: 500px;
        height: 500px;
        text-align: center;
        line-height: 1.5;
        padding: 20px;
        background-color: aliceblue;
      }

      .best-title {
        font-size: smaller;
        padding: 50px;
      }

      .best-story {
        font-size: smaller;
        padding-bottom: 10px;

      }

      .review1 {
        padding-bottom: 10px;
      }

      .myreview {
        padding-bottom: 80px;
        font-size: larger;
      }