<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>쿠폰 등록</title>

  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/coupon-registration.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main class="coupon-register-page">

  <h1>쿠폰 등록</h1>
  <p>발급받은 쿠폰 코드를 입력하세요.</p>

  <form th:action="@{/coupons/couponRegistration}"
        method="post"
        class="coupon-register-form">

    <input type="text"
           name="typedCouponCode"
           placeholder="쿠폰 코드를 입력하세요"
           required>

    <button type="submit">
      쿠폰 등록하기
    </button>

  </form>

  <a th:href="@{/coupon}" class="coupon-back-link">
    쿠폰함으로 돌아가기
  </a>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>